<!DOCTYPE html>
<html>
<head>
    <title>Training Progress</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Training Progress</h1>
    <div id="progress-bar" style="width: 0%; height: 20px; background-color: #4CAF50;"></div>

    <script>
    function updateProgress() {
        $.getJSON('/progress', function(data) {
            $('#progress-bar').width(data.progress + '%');
            if (data.progress < 100) {
                // If the task is not finished, keep polling every second
                setTimeout(updateProgress, 1000);
            } else {
                // If the task is finished, redirect to /train_user
                window.location.href = '/train_user';
            }
        });
    }
    // Start polling
    updateProgress();
    </script>
</body>
</html>
