<!-- rate_book.html -->

<style>
  .book-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .book-details {
    margin-left: 20px;
  }

  .book-image {
    text-align: right;
    margin-left: 20px; /* Add margin to create space */
  }

  .book-image img {
    width: 200px; /* Adjust the width as desired */
    height: auto; /* Maintain aspect ratio */
  }

  .rating-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
  }

  .rating-list li {
    margin-right: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .button-container button {
    margin-left: 10px;
  }
</style>

<h1>Rate a Book</h1>

{% if book_id %}
  <h3>User ID: {{ user_id }} {{ rating_count }}</h3>
  <div class="book-container">
    <div class="book-details">
      <h3>Title: {{ book_title }}</h3>
      <form action="/train_user" method="POST">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="hidden" name="book_id" value="{{ book_id }}">
        <input type="hidden" name="book_title" value="{{ book_title }}">
        <input type="hidden" name="rating_count" value="{{ rating_count }}">
        <label for="rating">Rating:</label>
        <ul class="rating-list">
          <li><input type="radio" name="rating" id="rating1" value="1"><label for="rating1">1</label></li>
          <li><input type="radio" name="rating" id="rating2" value="2"><label for="rating2">2</label></li>
          <li><input type="radio" name="rating" id="rating3" value="3"><label for="rating3">3</label></li>
          <li><input type="radio" name="rating" id="rating4" value="4"><label for="rating4">4</label></li>
          <li><input type="radio" name="rating" id="rating5" value="5"><label for="rating5">5</label></li>
        </ul>
        <div class="button-container">
          <button type="submit">Submit</button>
          <form action="/train_user" method="POST">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <button type="submit">Skip</button>
          </form>
        </div>
      </form>
      <button onclick="startTraining()">Start Model Training</button>
      <script>
      function startTraining() {
        fetch('/update_model', {method: 'POST'})
        .then(response => response.text())
        .then(ratings => alert(ratings));
      }
      </script>
      </body>
    </div>
    <div class="book-image">
      <img src="{{ image_url }}" alt="Book Cover">
    </div>
  </div>
  <br>
  <a href="/" class="btn btn-primary">Go Back</a>
{% else %}
  <p>No unrated books found for the user.</p>
{% endif %}
